@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Montserrat:wght@300&family=Quattrocento+Sans&family=Roboto:ital,wght@0,100;1,100&display=swap');


body{
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    /* font-family: 'Comic Neue', cursive; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Quattrocento Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */
}


.def {
    padding: 50px;
    text-align: left;
    background-color: rgba(92, 92, 92, 0);
    border-radius: 10px;
    width: 500px;
    margin: auto;
    
}

.def p{
    text-align: left;
}

/* video{ */
    /* height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1; */


    /* position: absolute;
    object-fit: cover;

    height: 120%;
    width: 120%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
} */
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin: 0 auto; */
    /* font-family: 'Comic Neue', cursive; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Quattrocento Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */
}



.block{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin: 0;
    background-size: cover;
}



.block::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -99;
    background-color: #03030366;
}
header{
    height: 400px;
    position: relative;
    overflow: hidden;
    /* background: url(../image/pexels-edmond-dantès-8555769.jpg); */

    background-size: cover;
    
}

nav {
    margin: 0% auto;
    padding: 1em 1em;
    background-color: rgb(255, 255, 255);
        
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

    
        /* position: fixed; */

    
}


nav .onglet{
    /* padding: 1% 1%; */
    text-decoration: none;
    /* position: fixed; */

    


    float: right;
}

nav .onglet a{
    /* padding: 1% 1%; */
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0em 2em;
}


nav a:hover{
    color: rgb(255, 196, 85);
}
nav .logo {
    display: flex;
    flex-wrap: wrap;
    float: left;

    
}

nav {
    display: flex;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    /* margin: 0; */
    left: 0;
    top: 0;
    padding: 10px 90px;
    width: 100%;
    height: 100px;
    /* text-align: center; */
    border-bottom: 1px solid black;
    
        /* position: fixed; */

    position: fixed;

    
}


nav .onglet{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
    display: inline-block;

}

nav .onglet a{
    /* padding: 1% 1%; */
    /* line-height: 80px; */

    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 12px 30px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}


nav .onglet a:hover{
    color: rgb(255, 196, 85);
	font-weight:none;
	transition:1s;
}
nav .logo {
    /* display: flex;
    flex-wrap: wrap; */
    float: left;

    
}
nav .logo img{
    width: 100px;
    /* padding: 22px 20px; */
    float: left;
    font-size: 24px;
    font-weight: bold;

}




.block h1{
    /* display: flex;
    flex-wrap: wrap; */
    /* padding: 50px; */
    margin-top: 4em;

    color: aliceblue;
    font-size: 3.5em;
}


.block h2{
    margin-top: 0em;
    font-size: 1.5em;
    text-align: center;
}

.block button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    cursor: pointer;
}

.block button a{
    text-decoration: none;
    color: black;
}

.block button a:hover{
	color:#FCC72C;
	font-weight:none;
	transition:1s;
}









section {
    color: aliceblue;
    background-color: rgb(35, 33, 32);
    background-position: center;
    background-attachment: fixed;
    background-image: url(../image/pexels-kampus-production-8636598.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 4px 12px; */
}
section h1, p, h3, h6 {
    text-align: center;
    /* padding: 4px 12px; */
    /* max-width: 769px;
    margin-top: 30px;
    margin-bottom: 30px; */
}


section h1 {
    color: rgb(255, 255, 255);
    display: block;
    margin: 0% auto;
    text-align: center;
    font-size: 48px;

    max-width: 769px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}


.valeur {
    background-color: rgba(0, 0, 0, 0.784);
    /* margin: 10px 0px; */
    margin: 4em;
    padding: 4em;
    color: rgb(255, 255, 255);
    /* display: flex;
    flex-wrap: wrap; */
    /* padding: 1em; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 20px;
    border-radius: 50px;
}

.valeur .valeurs{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0);
    margin: 2px auto;
    padding: 2em 2em;
    align-content :space-around;
    align-items: center;
}

.Valeur1{
    /* padding: 5em; */
    /* text-align: left; */
    width: 400px;
}

.Valeur2{
    /* padding: 5em; */
    text-align: left;
    width: 400px;
    /* margin-right: auto; */
    display: flex;
    flex-direction: column;
}

.Valeur2 img{
    padding: 10% 10%;
    
   
}


.boites{
    margin: 2% auto;

    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    background-color: rgba(255, 103, 2, 0);

    padding: 10em;
}

.boite1, .boite2, .boite3{
    display: inline-block;
    flex-direction: row;
    height: 600px;
    width: 420px;
    background-color: #000000;
    margin: 20px;
    border-radius: 25px;
    /* align-content: center; */
    text-align: center;
}

.boite1 img, .boite2 img, .boite3 img{
    height: 300px;
    width: 420px;
    border-radius: 25px 25px 0px 0px;
}

/* .boite1, .boite2, .boite3 .texteb {
    margin: auto;
} */

.boite .texteb h6 {
    /* text-align: left; */
}






/* 
.floating-box {
  display: inline-block;
  width: 420px;
  height: 270px;
  margin: 10px;
  border: 2px solid #C0C0C0;
  background-color:#F5F5F5;
  border-radius: 10px;
  box-shadow: 3px 3px 6px 0 #A9A9A9;
}
 
.after-box {
  border: 3px solid red;
}
 
p {
 
font-family:Arial, sans-serif;
  float: right;
  width: 1000px;
 
} */

/* img{ border: 5px solid darkgrey;  margin: 10px;border-radius: 10px;clear:both; } */














/* Les chiffres representant la mfc*/
.Chiffres {
    border: 4px solid white;
    
}

.nombres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.nombres p{
    color: aliceblue;
    /* padding: 1%; */
    /* background-color: rgb(255, 103, 2); */
    /* border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ; */
    /* border-radius: 50px;
    Width: 293;
    height: 293; */
    /* padding: 2%; */
}

.nombres p b{
    display: block;
    background-color: rgb(255, 103, 2);
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    /* border-radius: 100px; */
    Width: 70px;
    height: 70px;
    text-align: center;
    /* width: 500px;
    height: 1000px; */
    /* padding: 10%; */

}








section .formation{
    background-color: rgb(255, 103, 2);
    margin: 10% auto;
    padding: 10em;
}

section .formation .formations{
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/*FORMATION BOUTON*/

.bouton{
    display: block;
    background-image: url(../image/entreprise_buton.png);
    border-radius: 10px;
    border: 4px double rgb(255, 103, 2);
    border-radius: 25px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 400px;
    height: 400px;
    cursor: pointer;
    

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.bouton2 {
    display: block;
    background-image: url(../image/enligne_bouton.png);
    border-radius: 10px;
    border: 4px double rgb(255, 103, 2);
    border-radius: 25px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 400px;
    height: 400px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.bouton:hover{
    background-image: url(../image/ENtreprise_flou.png);
    border: 2px solid rgb(255, 103, 2);
    border-radius: 60px;
    /* box-shadow: 10px 5px 5px #719fee; */
    color: rgb(255, 103, 2);
    text-align: center;
    font-size: 22px;
}

.bouton2:hover{
    background-image: url(../image/En_ligneflou.png);
    border: 2px solid rgb(255, 103, 2);
    border-radius: 60px;
    /* box-shadow: 10px 5px 5px #719fee; */
    color: rgb(255, 103, 2);
    text-align: center;
    font-size: 22px;
}
.bouton a, .bouton2 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    

}

.bouton a:hover, .bouton2 a:hover{
    text-decoration: none;
    color: rgb(255, 103, 2);
    transition: 0.8s;

}




























/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 */

/* .formation .formations img{
    height: 350px;
    width: 400px;
    display: flex;
    margin: 1% auto;
} */
.formation .formations .formation1{
    height: 350px;
    width: 400px;
    /* background-image: url(../image/pexels-edmond-dantès-8555769.jpg); */
    /* background-size: cover; */
    display: flex;
    margin: 1% auto;
    background-color: rgb(172, 69, 0);
    
}

.formation .formations  .formation2{
    height: 350px;
    width: 400px;
    background-image: url(../image/pexels-julia-m-cameron-4144923.jpg);
    /* background-size: cover; */
    display: flex;
    margin: 1% auto;
    background-color: rgb(172, 69, 0);
}

.formation .formations .formation1 h1, .formation2 h1{
    
    text-align: center;
    margin: auto;
    
}


.formation .formations .formation1 h1 a, .formation2 h1 a{
    text-decoration: none;
    color: aliceblue;

}





.formation .formations .formation1 h1 :hover, .formation2 h1 :hover{
    
    text-align: center;
    margin: auto;
    color: rgb(48, 2, 255)
    
}



.formation .formations  .formation1 :hover, .formation2 :hover{
    /* height: 350px; */
    /* width: 400px; */
    margin: auto;
    /* display: block; */
    background-size: cover;
    padding: 120px 30px;
    /* background-image: url(../image/pexels-julia-m-cameron-4144923.jpg); */


    backdrop-filter: blur(9px);
    background-position: 50%;
    /* border: solid 1px rgb(255, 255, 255); */

}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 */





















































.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}










































/* 
@media screen and (max-width:900px) {
    body{
        background-color: aliceblue;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;

    }
    
    video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }
    
    header{
        height: 400px;
        position: relative;
        overflow: hidden;
        
    }
    
    nav {
        margin: 0% auto;
        padding: 1em 1em;
        background-color: rgb(255, 255, 255);
            
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }
    
    nav .onglet{
        text-decoration: none;
        
    
    
        float: right;
    }
    
    nav .onglet a{
        text-decoration: none;
        padding: 0em 2em;
    }
    
    nav a:hover{
        color: rgb(255, 196, 85);
    }
    nav .logo {
        display: flex;
        flex-wrap: wrap;
        float: left;
        
    }
    nav .logo img{
        height: 20px;
        width: 30px;
    }
    
    section {
        color: aliceblue;
        background-color: rgb(35, 33, 32);
        padding: 4px 12px;
    }
    section h1, p, h3, h6 {
        text-align: center;
        padding: 4px 12px;
    }
    
    
    section h1, h3, h6 {
        color: rgb(255, 103, 2);
    }
    
    section .formation{
        background-color: rgb(255, 103, 2);
        margin: 0% auto;
        padding: 1em 1em;
        justify-content: center;
    }
    
    section .formation .formations{
        padding: 0em 2em;
        background-color: rgb(255, 103, 2);;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color: aliceblue;
        align-items: center
    }
    
    .formation  .formations .formation1{
        height: 350px;
        width: 400px;
        background-image: url(pexels-edmond-dantès-8555769.jpg);
        background-size: cover;
        
    }
    
    .formation  .formations .formation2{
        height: 350px;
        width: 400px;
        background-image: url(pexels-julia-m-cameron-4144923.jpg);
        background-size: cover;
    }
    
    section  .formation  .formations .formation1 h1, .formation2 h1{
        text-align: center;
        margin: 50% auto;
        color: rgb(255, 103, 2);
        font-style:italic;
    }

}
 */
