@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Montserrat:wght@300&family=Quattrocento+Sans&family=Roboto:ital,wght@0,100;1,100&display=swap');


body{
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    /* font-family: 'Comic Neue', cursive; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Quattrocento Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */
}

/* video{ */
    /* height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1; */


    /* position: absolute;
    object-fit: cover;

    height: 120%;
    width: 120%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
} */
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin: 0 auto; */
    /* font-family: 'Comic Neue', cursive; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Quattrocento Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */
}



.block{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin: 0;
    background-size: cover;
}

.block video{
    /* height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1; */


    position: absolute;
    /* object-fit: cover; */

    height: 120%;
    width: 120%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
}

.block::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -99;
    background-color: #03030366;
}
header{
    height: 400px;
    position: relative;
    overflow: hidden;
    background: url(../image/pexels-julia-m-cameron-4144923.jpg);

    background-size: cover;
    
}

nav {
    margin: 0% auto;
    padding: 1em 1em;
    background-color: rgb(255, 255, 255);
        
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

    
        /* position: fixed; */

    
}


nav .onglet{
    /* padding: 1% 1%; */
    text-decoration: none;
    /* position: fixed; */

    


    float: right;
}

nav .onglet a{
    /* padding: 1% 1%; */
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0em 2em;
}


nav a:hover{
    color: rgb(255, 196, 85);
}
nav .logo {
    display: flex;
    flex-wrap: wrap;
    float: left;

    
}

nav {
    display: flex;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    /* margin: 0; */
    left: 0;
    top: 0;
    padding: 10px 90px;
    width: 100%;
    height: 100px;
    /* text-align: center; */
    border-bottom: 1px solid black;
    
        /* position: fixed; */

    position: fixed;

    
}


nav .onglet{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
    display: inline-block;

}

nav .onglet a{
    /* padding: 1% 1%; */
    /* line-height: 80px; */

    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 12px 30px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}


nav .onglet a:hover{
    color: rgb(255, 196, 85);
	font-weight:none;
	transition:1s;
}
nav .logo {
    /* display: flex;
    flex-wrap: wrap; */
    float: left;

    
}
nav .logo img{
    width: 100px;
    /* padding: 22px 20px; */
    float: left;
    font-size: 24px;
    font-weight: bold;

}




.block h1{
    /* display: flex;
    flex-wrap: wrap; */
    /* padding: 50px; */
    margin-top: 4em;

    color: aliceblue;
    font-size: 3.5em;
}


.block h2{
    margin-top: 0em;
    font-size: 1.5em;
    text-align: center;
}

.block button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    cursor: pointer;
}

.block button a{
    text-decoration: none;
    color: black;
}

.block button a:hover{
	color:#FCC72C;
	font-weight:none;
	transition:1s;
}









section {
    color: aliceblue;
    background-color: rgb(35, 33, 32);
    padding: 4px 12px;
}
section h1, p, h3, h6 {
    text-align: center;
    /* padding: 4px 12px; */
    /* max-width: 769px;
    margin-top: 30px;
    margin-bottom: 30px; */
}


section h1 {
    color: rgb(255, 255, 255);
    display: block;
    margin: 0% auto;
    text-align: center;
    font-size: 48px;

    max-width: 769px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}


.valeur{
    background-color: rgb(0, 0, 0);
    margin: 10% auto;
    padding: 10em;
    color: rgb(255, 255, 255);
    /* display: flex;
    flex-wrap: wrap; */
    /* padding: 1em; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 20px;
}

.valeur .valeurs{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    margin: 2% auto;
    padding: 5em 5em;
    align-content :space-around;
    align-items: center;
}

.Valeur1{
    /* padding: 5em; */
    /* text-align: left; */
    width: 400px;
}

.Valeur2{
    /* padding: 5em; */
    text-align: left;
    width: 400px;
    /* margin-right: auto; */
    display: flex;
    flex-direction: column;
}

.Valeur2 img{
    padding: 10% 10%;
    
   
}






/* Les chiffres representant la mfc*/
.Chiffres {
    border: 4px solid white;
    
}

.nombres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.nombres p{
    color: aliceblue;
    /* padding: 1%; */
    /* background-color: rgb(255, 103, 2); */
    /* border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ; */
    /* border-radius: 50px;
    Width: 293;
    height: 293; */
    /* padding: 2%; */
}

.nombres p b{
    display: block;
    background-color: rgb(255, 103, 2);
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    /* border-radius: 100px; */
    Width: 70px;
    height: 70px;
    text-align: center;
    /* width: 500px;
    height: 1000px; */
    /* padding: 10%; */

}








section .formation{
    background-color: rgb(255, 103, 2);
    margin: 10% auto;
    padding: 10em;
}

section .formation .formations{
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-around; */
    justify-content:space-around;
    
}

/*FORMATION BOUTON*/

.bouton{
    display: block;
    background-image: url(../image/entreprise_buton.png);
    border-radius: 10px;
    border: 4px solid rgb(255, 103, 2);
    border-radius: 20px;

    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 400px;
    height: 400px;
    cursor: pointer;
    

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.bouton2 {
    display: block;
    background-image: url(../image/enligne_bouton.png);
    border-radius: 10px;
    border: 4px solid rgb(255, 103, 2);
    border-radius: 20px;
    
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 400px;
    height: 400px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.bouton:hover{
    background-image: url(../image/ENtreprise_flou.png);
    border: 2px solid rgb(255, 103, 2);
    border-radius: 40px;

    /* box-shadow: 10px 5px 5px #719fee; */
    color: rgb(255, 103, 2);
    text-align: center;
    font-size: 22px;
}

.bouton2:hover{
    background-image: url(../image/En_ligneflou.png);
    border: 2px solid rgb(255, 103, 2);
    /* box-shadow: 10px 5px 5px #719fee; */
    border-radius: 40px;
    color: rgb(255, 103, 2);
    text-align: center;
    font-size: 22px;
}
.bouton a, .bouton2 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    

}

.bouton a:hover, .bouton2 a:hover{
    text-decoration: none;
    color: rgb(255, 103, 2);
    transition: 0.8s;

}






























/* /////// .///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
/* .formation .formations img{
    height: 350px;
    width: 400px;
    display: flex;
    margin: 1% auto;
} */
.formation .formations .formation1{
    height: 350px;
    width: 400px;
    background-image: url(../image/pexels-edmond-dantès-8555769.jpg);
    background-size: cover;
    display: flex;
    margin: 1% auto;
    
}

.formation .formations  .formation2{
    height: 350px;
    width: 400px;
    background-image: url(../image/pexels-julia-m-cameron-4144923.jpg);
    background-size: cover;
    display: flex;
    margin: 1% auto;
}

.formation .formations .formation1 h1, .formation2 h1{
    
    text-align: center;
    margin: auto;
    
}


.formation .formations .formation1 h1 a, .formation2 h1 a{
    text-decoration: none;
    color: aliceblue;
    /* height: 350px;
    width: 400px; */
    backdrop-filter: blur(9px);


}





.formation .formations .formation1 h1 :hover, .formation2 h1 :hover{
    
    text-align: center;
    margin: auto;
    color: rgb(255, 103, 2);
    
    

}



.formation .formations  .formation1 :hover, .formation2 :hover{
    /* height: 350px;
    width: 400px; */
    /* margin: auto; */
    /* display: block; */
    background-size: cover;

    backdrop-filter: blur(9px);
    /* background-position: 50%; */
    /* border: solid 1px rgb(255, 255, 255); */

}


/* /////// .///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/











footer{
    background-color: rgb(0, 0, 0);
    color: azure;
    padding: 10em 12em;
}
























/* 
@media screen and (max-width:900px) {
    body{
        background-color: aliceblue;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;

    }
    
    video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }
    
    header{
        height: 400px;
        position: relative;
        overflow: hidden;
        
    }
    
    nav {
        margin: 0% auto;
        padding: 1em 1em;
        background-color: rgb(255, 255, 255);
            
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }
    
    nav .onglet{
        text-decoration: none;
        
    
    
        float: right;
    }
    
    nav .onglet a{
        text-decoration: none;
        padding: 0em 2em;
    }
    
    nav a:hover{
        color: rgb(255, 196, 85);
    }
    nav .logo {
        display: flex;
        flex-wrap: wrap;
        float: left;
        
    }
    nav .logo img{
        height: 20px;
        width: 30px;
    }
    
    section {
        color: aliceblue;
        background-color: rgb(35, 33, 32);
        padding: 4px 12px;
    }
    section h1, p, h3, h6 {
        text-align: center;
        padding: 4px 12px;
    }
    
    
    section h1, h3, h6 {
        color: rgb(255, 103, 2);
    }
    
    section .formation{
        background-color: rgb(255, 103, 2);
        margin: 0% auto;
        padding: 1em 1em;
        justify-content: center;
    }
    
    section .formation .formations{
        padding: 0em 2em;
        background-color: rgb(255, 103, 2);;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color: aliceblue;
        align-items: center
    }
    
    .formation  .formations .formation1{
        height: 350px;
        width: 400px;
        background-image: url(pexels-edmond-dantès-8555769.jpg);
        background-size: cover;
        
    }
    
    .formation  .formations .formation2{
        height: 350px;
        width: 400px;
        background-image: url(pexels-julia-m-cameron-4144923.jpg);
        background-size: cover;
    }
    
    section  .formation  .formations .formation1 h1, .formation2 h1{
        text-align: center;
        margin: 50% auto;
        color: rgb(255, 103, 2);
        font-style:italic;
    }

}
 */
